{% extends 'uploadd/index.html' %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 

{% block content%}
<style>
    
    h1 {
        text-align: center;
        position: flex;
        /* font-family: 'Montserrat', sans-serif; */
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        text-decoration: underline;
        }
    .flex-container{
        gap: 200px;
        margin-top: 80px;
        
    }    
    
    .list_item{
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        
        background:linear-gradient(to right top, 	#989898 0%, 	#6f6f6f 100%);
        /* background: #989898; */
        
        margin: auto;
        margin-bottom: 20px;
        margin-left: 10%;
        width: 80%;
        border: 1px solid black;
        
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        gap: 20px;
        filter: drop-shadow(0 0 15px rgb(29, 179, 29,.5));

       

    }
    /* .list-item:hover .project_name_text{
        filter: drop-shadow(0 0 10px rgba(7, 245, 7));
    } */
    .list_item:hover{
        filter: drop-shadow(0 0 10px rgb(87, 14, 140));
        font-size: 26px;
        /* text-shadow: -3px -3px 0 #e91b1b, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
     */
    }
   
    .center_Projects{
        
        position: relative;
        justify-content: space-between;
        margin: auto;
        /* height: 400px; */
        flex-direction: row;
        align-content: stretch;
        align-items: center;
        width: 100%;
        border-radius: 30px;
        text-decoration: none;
        
    }
    .project_name {
        margin-left: 5%;
        margin-top: 3%;
        margin-bottom: 2%;

        
        height: 50px;
        /* background: #73AD21; */
        float: left;
        text-align: center;
        padding-left: 20px;
        text-decoration: none;
        
        text-transform: capitalize;
        color: white;
        text-decoration: none;

        
    }
    .project_name_text{
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    
    

    .project_delete {
        margin-top: 2%;
        margin-bottom: 2%;
        /* margin-left: 15%; */
        margin-right: 1%;
        /* height: 50px; */
        /* width: 70px; */
        justify-content: center;
        /* background: rgb(193, 69, 69); */
        text-align: right;
        
    }
    .button{
        font-size: 40px;
        
    }

    /* section{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121212;
} */
.bowl{
    position: fixed;
    width: 60px;
    height: 60px;
    background: rgb(177, 176, 176, 0.3);
    border-radius: 50%;
    border: 2px solid transparent;
    transform-origin: top center;
    animation: animate 3s linear infinite;
    animation-play-state: paused;
    text-align: center;
    font-size: 40px;
    left: 2%;
    bottom: 2%;
    outline: 1px ridge rgb(84, 83, 83);
    cursor: pointer; 
   

}
.bowl:hover{
    animation-play-state: running;
    filter: drop-shadow(0 0 20px rgb(87, 14, 140));

}

@keyframes animate
{
    0%{
        filter: hue-rotate(360deg);
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(0deg);
    }


}

.bowl::before{
    content: '';
    position: absolute;
    left:50%;
    top: -3px;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    border: 3px solid #444;
    border-radius: 50%;
    box-shadow: 0 2px #222;
}
.bowl::after{
    content:'';
    position: flex;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% ;
    width: 30px;
    height: 16px;
    background: rgba(255,255,255,.05);

}
.liquid{
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgb(87, 14, 140);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #41c1fb);
    transform-origin: top center ;
    animation: animateLiquid 3s linear infinite;
    animation-play-state: paused;
    outline: 1px ridge rgb(84, 83, 83);

}
.bowl:hover{
    filter: drop-shadow(0 0 10px rgb(87, 14, 140,.7));

}
.bowl:hover .liquid{
    animation-play-state: running;
    filter: drop-shadow(0 0 10px rgb(87, 14, 140,.7));

}
@keyframes animateLiquid{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* .liquid::before{
    content: '';
    position: relative;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #1fa4e0;
    border-radius: 50%;
    filter: drop-shadow(0 0 80px #41c1fb);

} */

/* .add_button{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgb(black);
        background-color: #333399;
        border: unset;
        font-size:32px;
        color:black;
        border: 1px;
        opacity: 0.51;
        cursor: pointer;
        } */
        .add{
            position: absolute;
            left:25%;
            bottom:-25%;
            filter: drop-shadow(0 0 20px rgb(87, 14, 140,.7));

        }
    .delete-button{
        font-size: 24px;
        color: white;
        width: 80px;
        height: 60px;
        border-radius: 35px;
        background: rgb(155, 55, 55);
        cursor: pointer;
        outline: 2px outset rgb(87, 14, 140);
      
        align-items: center;
        text-shadow: -1px -1px 0project_name #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    }
    .delete-button:hover{
        filter: drop-shadow(0 0 10px rgb(220, 60, 60));

    }
    .backbtn{
    position: fixed;
    width: 60px;
    height: 60px;
    background: rgb(177, 176, 176, 0.3);
    border-radius: 50%;
    border: 2px solid transparent;
    transform-origin: top center;
    text-align: center;
    font-size: 40px;
    left: 2%;
    top: 110px;
    outline: 3px outset rgb(87, 14, 140);
    cursor: pointer; 
    opacity: 1;
    /* color: white; */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


    }
    .backbtn:hover{
        filter: drop-shadow(0 0 10px rgb(87, 14, 140,.5));

    }
    
    
    @media (max-width:1000px){
        .list_item{
            border-radius: 70px;
        }
        .center_Projects{
            height: 200px;
           
            
        }
        .project_name{
            font-size: 40px;
            margin-left: 80px;
            margin-top: 60px;
        }
        .project_name:hover{
            font-size: 41px;
        }
        .list_item:hover .project_name{
            font-size: 41px;
        }
        .backbtn{
            height: 150px;
            width: 150px;
            font-size: 65px;
            top:120px;
        }
        .bowl{
            height: 150px;
            width: 150px;
            font-size: 110px;
        }
        .delete-button{
            width:120px;
            height: 100px;
            font-size: 30px;
            margin-top: 35px;
        }
        h1{
            font-size: 70px;
        }
    }
    

</style>

<h2> {{row.name}} </h2>
<h1>Projects</h1>

<div class = "flex-container">
    {% for row in project_items %}
    <div class="list_item">
        <div class = "center_Projects">
            <!-- <input class = "ka" type ="checkbox"> </input> -->
            <div class = "project_name"><a class="project_name_text" vlink="black" href=/myprojects/{{row.id}}>
                {{row.name}}
            </a>
            </div>
            <div class="project_delete">
                <form method="post" action="{% url 'delete_project' row.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="delete-button" >delete</button>
                </form> 
            </div>
        </div>
        
    </div>
    
    
    

    {% endfor %}
    <!-- <div class="add_button">
        <button class="add_button" onclick="addItem()">
          +
        </button>
    <br>
    </div> -->
    
        
    


      <script>
        function addItem() {          
            let itemName = prompt("neues Projekt Hinzufügen")
            let token = '{{ csrf_token }}';
            let formData = new FormData();
            formData.append('itemName', itemName);
            formData.append("csrfmiddlewaretoken", token);
            
            fetch('/myprojects', {
                method:'POST',
                body: formData
            }).then(function(){window.location.reload()});
         
        }
        function removeItem(itemID){
        
            
            let token = '{{ csrf_token }}';          
 
            // Einem Namen wird eine ID zugehordnet.. daher zu removen keinen Namen sondern ID.. daher nur anfrage zur ID schicken        
            // Delete geht immer and eine ID und nicht an einen Namen
            // im Java Land ist $ zum bennen des WErtes der ID - f-string in python
            
            fetch(`/card_list/${itemID}`, {
                
                method:'DELETE',
                headers: {'X-CSRFToken' : token},
            }).then(function(){window.location.reload()});

        }

        function logout(){
            
            let token = '{{ csrf_token }}';
            fetch("/logout" , {
                
                method:'POST',
                headers: {'X-CSRFToken' : token}
            }).then(function(){window.location.href = '/';});
                

        }
        document.addEventListener("keydown", e =>{
            if (e.key.toLowerCase() === "x"){
                document.getElementById('backbtn').click();
            }
        });
    </script>
    <div >
        <a href="/">
            <button id="backbtn" class="backbtn">
                <ion-icon name="play-back-outline"></ion-icon>
                
            </button>
        </a>   
        
    </div>
    <div class="bowl" onclick="addItem()">
       
        <div class="liquid">
           <div class="add">+</div>
        </div>
    </div>
</div>
<!-- <div class="bowl">
    <div class="liquid">
        <button class="add_button" onclick="addItem()">
            +
        </button>
    </div>
</div> -->

{% endblock %}