<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'uploadd/base.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    {% block content %}
    <style>
        h2{
            font-size: 30px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <h2>upload</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document" accept="image/*">
        <button type="submit">Upload file</button>
    </form> 
    {% if url %}
    <p>uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif%}

    {{uploaded_file}}
   

    {% endblock %}
    
</body>
</html>